::-webkit-scrollbar {
  width: 0.3125rem;
  height: 0.3125rem;
  background-color: var(--neutral-900);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: var(--neutral-900);
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: var(--neutral-600);
  border-radius: 10px;
}

